@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #bd255b

//clases occss

.relative
	position relative

.border-bottom
	border-bottom 1px solid gris_claro

img
	vertical-align top


//fin clases occss


body
	font-size 16px
	font-family 'Varela Round', 'sans-serif'

figure
	margin 0

a
	text-decoration none

header
	height 3.5em

	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em

.button-menu
	position absolute
	top 50%
	margin-top -10px
	left .5em
	color gris_oscuro

.menu
	display none

.container
	padding 1.4rem
	font-size 0
	text-align center

.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.name
	color gris_oscuro

.author
	color gris_claro

.playing
	&.small
		width 20em

.actions
	position absolute
	bottom 0
	left 0
	right 0
	background 	rgba(0,0,0,.3)

.center_block
	margin 0 auto

.center_text
	text-align center

.relative
	position relative

.padding
	padding 1em

.action
	color #fff
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin 0
	&.gray
		color gris_claro

.padding_tb
	padding 1em 0
	
.right_text
	text-align right		

.progress
	
	margin 1em 0
	position relative

	.min
	.max
		position absolute
		font-size .8em
		top -5px
	
	.min
		left 0

	.max
		right 0

	.total
		height 5px
		background gris_claro
		border-radius 5px
		width 75%
		margin 0 auto

	.state
		height 5px
		border-radius 5px
		background	rojo
		width 30%
		position relative

		.circle
			height 10px
			width 10px
			background gris_oscuro
			border-radius 50%
			position absolute
			top -2px
			right 0